<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta description="Larch Provisions provides fresh-prepared meal service weekly" />
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />
    <title>Larch Provisions</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="~/css/materialize.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"
              asp-fallback-href="~/css/materialize.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo waves-effect waves-ripple left">
                    <img src="~/img/lil-larch.png" />
                </a>
                <a data-activates="collapse-menu" class="button-collapse right"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-small-only">
                    <li>@Html.ActionLink("larch provisions", "Provisions", "Home")</li>
                    <li>@Html.ActionLink("current menu", "CurrentMenu", "Menus")</li>
                </ul>
                <ul class="side-nav right-align" id="collapse-menu">
                    <li>@await Html.PartialAsync("_LoginPartial")</li>
                    <li>@Html.ActionLink("provisions", "Provisions", "Home")</li>
                    <li>@Html.ActionLink("current menu", "CurrentMenu", "Menus")</li>
                    <li>@Html.ActionLink("about", "About", "Home")</li>
                    <li>@Html.ActionLink("contact", "Contact", "Home")</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("admin", "Index", "Admin")</li>
                    }
                    @if (User.IsInRole("Chef"))
                    {
                        <li>@Html.ActionLink("menu list", "Index", "Menus")</li>
                        <li>@Html.ActionLink("recipe list", "Index", "Recipes")</li>
                        <li>@Html.ActionLink("ingredient list", "Index", "Ingredients")</li>

                    }
                </ul>
            </div>
        </nav>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <footer class="footer-copyright">
            @*<div class="container">
                <div class="row">
                    <div class="col s12">
                        <a href="/">larch provisions</a><a class="right" href="https://docs.google.com/forms/d/1N1ZXhkgLk6IDEoyabNEUdhfQNJq4SyseoF2_4WVrBIE/viewform?c=0&w=1">place an order</a>
                    </div>
                </div>
            </div>*@
            <div class="container">
                <a href="/">&copy; 2016 larch provisions</a>
                <a class="dr_juno right" href="http://larchprovisions.com">website made by doctorjuno</a>
           </div>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" asp-append-version="false"></script>
        <script src="~/lib/Materialize/dist/js/materialize.js" asp-append-version="false"></script>
        <script src="~/js/site.js" asp-append-version="false"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"
                asp-fallback-src="~/js/materialize.es5.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>