<div class="collapsible-header"><i class="material-icons">star</i>@Model.UserName - @Model.RecipeName</div>
<div class="collapsible-body">
    <p>
        Order Size @Model.OrderSize<br />
        Recipe @Model.RecipeName
    </p>

    @using (Html.BeginForm())
    {
        <button name="orderId" value="@Model.OrderId" validate>Remove</button>
            @Html.AntiForgeryToken()
    }
</div>