@model LarchProvisionsWebsite.Models.Menu

@{
    ViewData["Title"] = "Details";
}

<div class="container menu-display">

    <h4 class="center">THIS WEEK'S MENU</h4>

    <h4 class="center">@Html.DisplayFor(model => model.Title)</h4>
    @if (User.IsInRole("Chef"))
    {
        <h3 class="center">@Html.ActionLink("Edit this menu", "Edit", "Menus", new { id = Model.MenuId })</h3>
    }

    <div class="row">

        @foreach (var recipe in Model.Recipes)
            {
            <div class="col m6 l6 s6">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="@recipe.Image" alt="@recipe.Name" />
                    </div>
                    <div class="card-content">
                        <span class"card-title activator">@recipe.Name<i class="material-icons right">more_vert</i></span>
                        <p>$@recipe.CustPrice per serving</p>

                        @foreach (var o in recipe.Orders)
                        {
                            <i class="material-icons">redeem</i>
                        }
                        <div class="row">
                            <div class="col l12 m12 s12 center">

                                @using (Html.BeginForm("Order", "Menus", FormMethod.Post))
                                {
                                    @Html.HiddenFor(m => m.MenuId);
                                    <input hidden name="recipeId" value="@recipe.RecipeId" />
                                    <button class="btn waves-effect waves-ripple" type="submit">
                                        Add Order
                                    </button>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="container recipe-description">
                    </div>
                    <div class="card-reveal">
                        <span class="card-title">@recipe.Name<i class="material-icons right">close</i></span>
                        <div class="container">
                            <h5>@recipe.Description</h5>
                            <p>@recipe.Notes</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    <div class="row container">
        <h4>Your current orders total $@ViewData["CustTotal"]</h4>
        <ul>
            @foreach (var recipe in Model.Recipes)
            {
                @foreach (var order in recipe.Orders)
                {
                <li>@order.RecipeName: $@recipe.CustPrice</li>
                <li>
                    @using (Html.BeginForm("RemoveOrder", "Menus", FormMethod.Post))
                    {
                        @Html.HiddenFor(m => m.MenuId);
                        <input hidden name="recipeId" value="@recipe.RecipeId" />
                                    <button class="btn waves-effect waves-ripple" type="submit">
                                        Remove Order
                                    </button>
                    }
                </li>

                }

            }
        </ul>

    </div>
    </div>
    <div class="row center">
        <div class="col l6 m6 s12">
            <h5>Order by noon Sunday</h5><h5> @Model.OrderBy.Month/@Model.OrderBy.Day/@Model.OrderBy.Year</h5>
        </div>
        <div class="col l6 m6 s12">

            <h5>
                Pickup 3-7pm on Tuesday
            </h5><h5>
                @Model.PickupTime.Month/@Model.PickupTime.Day/@Model.PickupTime.Year
            </h5>
        </div>
    </div>
</div>
<div class="menu-content-main">
    <img src="~/img/white-larch-logo.png" style="width:40%" />
    <h3>Emily Cafazzo &amp; Ryan Domingo</h3>
    <p>We cook healthy, balanced meals using as many local, organic &amp; seasonal ingredients as possible<br /> showcasing the bounty of the Pacific Northwest.</p>
</div>
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="~/img/menu-cover3.jpg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Ordering Information<i class="material-icons right">more_vert</i></span>
    </div>
    <div class="card-reveal">

        <div class="row">

            <div class="col l12 m12 s12">
                <span class="card-title grey-text text-darken-4">Ordering Information<i class="material-icons right">close</i></span>
                <ul>
                    <li><h5>Orders must be placed by noon on Sunday for pickup the following Tuesday</h5></li>
                    <li>
                        Pickup of pre-ordered meals is from 3-7pm on Tuesday at
                        36333 E Historic Columbia River Hwy Corbett, OR 97019
                    </li>
                    <li>We accept Cash &amp; Check &amp; now Paypal! </li>
                    <li>Weekly emails with weekly menu options will be sent the previous Thursday</li>
                </ul>
            </div>
            <div class="col l6 m6 s6 left">

                <ul>
                    <li>Please let us know all dietary restrictions in advance</li>
                    <li>Meals come prepackaged in microwaveable (reusable) containers packaged per serving</li>
                    <li>Consider bringing a bag if you order more than 3 servings for ease of transport</li>
                </ul>
            </div>
            <div class="col l6 m6 s6">
                <ul class="left">
                    <li>We love to reuse clean containers! Just remove stickers from lids BEFORE washing or microwaving or after the dry again. </li>
                    <li>*Prices below are a suggested donation. Everyone deserves access to good food</li>
                    <li>- - - </li>
                    <li>Enjoy! </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MenuId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>